<!-- approver_dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Approver Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    
    <h2>All Users' Submissions</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Status</th>
        </tr>
        {% for user in all_users %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['name'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['phonenumber'] }}</td>
            <td>{{ user['status'] }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <br>
    <!-- Button to view all users -->
    <a href="{{ url_for('approver_dashboard') }}" style="font-size: 18px; padding: 10px; border: 1px solid black; background-color: #f0f0f0; text-decoration: none; color: black;">
        View All Users
    </a>
    
    <br><br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
