<!-- approver_dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Approver Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>

    <h2>All Approved Users</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Status</th>
        </tr>
        {% for user in all_users %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['name'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['phonenumber'] }}</td>
            <td>{{ user['status'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
