<!DOCTYPE html>
<html>
<head>
    <title>All Existing Users</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <h2>All Existing Users</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Department</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['name'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['phonenumber'] }}</td>
            <td>{{ user['department'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{{ url_for('data_submit') }}">Back to Submission Page</a>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
